# Copyright 2021, Antonio Alvarado Hernández

# python temporary files
__pycache__/
*.py[cod]

# C extensions
*.so

# distribution / packing
*.egg-info/
*.egg
MANIFEST

# vim temporary files
*~
*.swp
*.swo

# EOF
