#
# loosely borrowed from
# <https://github.com/github/gitignore/blob/master/Python.gitignore>
# and updated from
# <https://github.com/pdm-project/pdm/blob/main/.gitignore>
#

# byte-compiled / optimized / dynamic linked libraries
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# unit tests / coverage reports
htmlcov/
cover/
.tox/
.nox/
.hypothesis/
.pytest_cache/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
nosetests.xml
coverage.xml

# sphinx documentation
docs/_build/
docs/site

# distribution / packaging files
.Python
build/
dist/
.eggs/
eggs/
develop-eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# installer logs
pip-log.txt
pip-delete-this-directory.txt

# translations files
*.mo
*.pot

# backup and swaping files
*~
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# updated to use pdm and others pep-582 based managers
__pypackages__/
.pdm.toml

# legacy environments
ENV/
.env
env/
.venv
venv/
env.bak/
venv.bak/

# EOF
